.instagram-downloader-container {
  text-align: center;
  font-family: arial;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-top: 10px;
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.download-button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.result-container {
  margin-top: 20px;
}

.result-item {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  input {
    width: 60%;
  }

  button {
    width: 60%;
  }
}
