.login-container {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f8f8f8;
  font-family: arial;
  text-align: center;
}
.login-form {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
label {
  display: block;
  margin-bottom: 10px;
}
label {
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
}
input {
  margin-top: 10px;
  width: 90%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.download-button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.result-container {
  margin-top: 20px;
}

.result-item {
  margin-bottom: 10px;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}
h4 {
  margin-top: 30px;
}
@media (max-width: 600px) {
  input {
    width: 60%;
  }

  button {
    width: 60%;
  }
}
